@import url(https://fonts.googleapis.com/css?family=Nunito:400,300,700);
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin:0;
  background-color: #07f7fd;
}
 h1{
  font-size: 30px;
}
p{
  font-size: 20px;
}


nav .mini {
  position: fixed;
  top: 80px;
  right: 10px;
  background: #620f78;
  padding: 40px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s ease .2s;
  transition: opacity .2s ease .2s;
}
nav .mini.visible {
  padding: 40px;
  opacity: 1;
  visibility: visible;
}
nav .mini .products {
  font-weight: bold;
  font-size: 14px;
}
nav .mini p {
  font-size: 11px;
  display: block;
  margin: 0;
  padding: 0;
  line-height: 20px;
}
nav .cart {

  position: relative;
  float: right;
  margin-right: 50px;
  height: 20px;
  line-height: 70px;
  font-size: 28px;
  height: 100%;
  cursor: pointer;
}


nav .cart span {
  height: 100%;
  float: left;
  margin-right: 20px;
  opacity: 1;
  color: #ffff99;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
}
nav .cart span.updateQuantity:before, nav .cart span.updateQuantity:after {
  top: 0;
  bottom: 0;
  opacity: 1;
  width: 30px;
  -webkit-transition: all .2s ease, top .3s ease .4s, bottom .3s ease .4s;
  transition: all .2s ease, top .3s ease .4s, bottom .3s ease .4s;
}
nav .cart span.update {
  -webkit-transition: color .2s ease .6s;
  transition: color .2s ease .6s;
  color: #de3652;
}
nav .cart span.update:before {
  top: -30px;
  width: 30px;
  opacity: 1;
  -webkit-transition: all .2s ease, top .3s ease .4s, bottom .3s ease .4s;
  transition: all .2s ease, top .3s ease .4s, bottom .3s ease .4s;
}
nav .cart span.update:after {
  top: 30px;
  width: 30px;
  opacity: 1;
  -webkit-transition: all .2s ease, top .3s ease .4s, bottom .3s ease .4s;
  transition: all .2s ease, top .3s ease .4s, bottom .3s ease .4s;
}
nav .cart span:before, nav .cart span:after {
  content: "";
  position: absolute;
  width: 0px;
  height: 2px;
  background-color: #3cb200;
  left: -10px;
  right: 40px;
  top: 2px;
  bottom: 0;
  margin: auto;
}


.container .product {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 340px;
  display: inline-block;
  border-radius: 4px;
  background-color:#5b569d;
  margin: 5px;
  padding: 1px;
}
.container .product img {
  display: block;
  max-width: 400px;
  width: 300px;
  height: 300px;
  position: relative;
/* top: -15px;
  left: -15px;*/
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 100% 80%);
          clip-path: polygon(0 100%, 0 0, 100% 0, 100% 80%);
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}
.container .product img:hover {
  -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
          clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.container .product h2 {
  text-align: left;
  color: #3e0707;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: -15px;
}
.container .product h4 {
  text-align: left;
  font-size: 18px;
  color: #fff;
  margin-top: -21px;

}
.container .product .description {
  text-align: left;
  font-size: 11px;
  color: #fff;
  max-height: 23px;
  overflow: hidden;
}

.container .product .price {
  text-align: left;
  font-size: 18px;
  color: #fff;
  margin-top: -25px;
}
.container .product .btn {
  position: absolute;
  font-size: 11px;
  font-weight: bold;
  float: left;
  padding: 10px;
  border: 2px solid #f99111;
  border-radius: 20px;
  bottom: 25px;
  right: -12px;
  color: #043100;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.container .product .btn.ok {
  background-color: rgba(19, 179, 254, 0.4);
  color: #ff3199;
}
.container .product .btn.ok:after {
  content: "\e080";
  color: #fff;
}
.container .product .btn:hover {
  padding-right: 25px;
}
.container .product .btn:hover:after {
  margin-left: 5px;
}
.container .product .btn:after {
  font-family: 'simple-line-icons';
  content: "\e095";
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  position: absolute;
  color: #00fefe;
  margin-left: 30px;
  transition: all .2s ease;
}

/* footer{
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #2e1d40;
  text-align: center;
} */

@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
    float: none;
    text-align: center;
    width: 100%;
  }

  [...]
